<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Canvas Test</title>

    <style>
        canvas {
            border: 1px dashed black;
        }
    </style>

</head>
<body>
    <canvas id="canvas" style="border:2px solid black;" width="200" height="200"></canvas>
    <script>
        var canvas = document.getElementById("canvas");
        var context = canvas.getContext("2d");

    var rte = '<p><span style="font-size:36px"><span style="color:rgb(218, 165, 32)">All that is Gold does not Glitter .. </span></span></p>';
    var markup = '<div xmlns="http://www.w3.org/1999/xhtml" style="font-size:40px">' +
                 '<em>I</em> like' + 
                 '<span style="color:white; text-shadow:0 0 2px blue;">' +
                 'cheese</span>' +
               '</div>';
    var data = '<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200">' +
               '<foreignObject width="100%" height="100%">' +
               rte +
               '</foreignObject>' +
               '</svg>';

    var DOMURL = window.URL || window.webkitURL || window;

    var img = new Image();
    var svg = new Blob([data], {type: 'image/svg+xml;charset=utf-8'});
    var url = DOMURL.createObjectURL(svg);

    img.onload = function () {
      context.drawImage(img, 0, 0);
      DOMURL.revokeObjectURL(url);
    }

    img.src = url;

    </script>
</body>
</html>
